.nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    top: 20px;
}
.img-back-pai{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.img-back{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-image: url('/img/video.mp4');
    background-size: cover;
}

.content {
    position: relative;
    z-index: 1;
}
.sub-pai{
    display: flex;
}
.subtext{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 13rem;
    margin-bottom: -0.3em;
}
.subtext-second{
    font-size: 8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 13rem;
    color: white;
    margin-top: 0;
}
.btn {
    background:rgb(207, 57, 57);
    color: #fff;
    padding: 1rem 3rem;
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 10px;
}

.btn:hover {
    letter-spacing: 0.1rem;
}
.titles{
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    border: 5px;
    padding: 3px;
    background-color: pink;
}
.sub-content{
    font-size: 20px;
    color: bisque;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img-back-fisherman{
    position: relative;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: bottom;
    background-image: url('/img/fisherman.avif');
    background-size: cover;
}
.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
.nav a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}
.nav a:hover{
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-size: 25px;
}
.icon-skills{
    border: #fff;
    border-radius: 1px;

}
.alinhar-items{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem;
}

.box-container .box {
    background-color: #111;
    border: 1px solid #444;
    color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.box-container .box:hover {
    background-color: #fff;
}

.box-container .box:hover > * {
    color: var(--black);
}

.box-container .box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: var(--font-subtitle);
    color: var(--main-color);
}

.box-container .box .price {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem;
}

 .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem;
}

 .box-container .box {
    background-color: #111;
    border-radius: 1rem;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

 .box-container .box:hover {
    background-color: var(--main-color);
    transform: translateY(-10px);
}

.review .box-container .box:hover p,
.review .box-container .box:hover h3 {
    color: #000;
}

.review .box-container .box p {
    font-size: var(--font-body);
    color: #ccc;
    padding: 2rem 0;
    line-height: 1.8;
}

.review .box-container .box img.user {
    margin: 1rem auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    color: var(--main-color);
    font-size: 2rem;
    margin-top: 1rem;
}

.review .box-container .box .stars {
    margin-top: 1rem;
}

.review .box-container .box .stars img {
    width: 30px;
    height: 30px;
}